/* You can add global styles to this file, and also import other style files */

/* RESET CSS */

html,
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
